@import 'variables.scss';

$sectionWidth: 38vw;
$paragraphLineHeight: 2vw;
$paragraphFontSize: 1.3vw;
$verticalHomeSectionSeparation: 4vw;

.home {
  margin-bottom: $verticalPageSectionSeparation;

  .content {
    position: relative; // Allows the image to be positioned absolutely within the home content element
    margin: 0 $gutterSize;

    .hero-image {
      border-radius: 0 $imageBorderRadius;
      position: absolute;
      top: 0;
      left: 44vw;
      width: 22vw;
      z-index: -1;
    }

    .title {
      color: $mainTitleColour;
      font-family: 'youngserifregular', serif;
      font-size: 6vw;
      font-weight: 500;
      line-height: 7vw;
      width: 52vw;
      text-align: left;
      margin: 0 0 $verticalHomeSectionSeparation 0;
      text-shadow: 1px 1px 0 white, -1px -1px 0 white;
    }

    .introduction {
      color: $defaultFontColour;
      font-size: 1.5vw;
      font-weight: 400;
      line-height: 2.8vw;
      width: $sectionWidth;
      text-align: left;
      margin-bottom: $verticalHomeSectionSeparation;
    }

    .paragraph {
      color: #697684;
      font-size: $paragraphFontSize;
      font-weight: 400;
      line-height: $paragraphLineHeight;
      width: $sectionWidth;
      text-align: left;
      margin-bottom: $verticalHomeSectionSeparation;

      &.last {
        margin-bottom: 0;
      }
    }

    .quote {
      width: $sectionWidth;

      .quote-content {
        color: #1D1B2E;
        font-size: $paragraphFontSize;
        font-weight: 400;
        line-height: $paragraphLineHeight;
        text-align: left;
        margin-bottom: $verticalHomeSectionSeparation;
        padding: 2vw 0 2vw 4vw;
        border-left: 0.4vw solid #FDD129;
      }
    }
  }
}

