@import 'variables.scss';

.wondering-where {
  .title {
    margin: $verticalPageSectionSeparation $gutterSize 0 $gutterSize;

    h1 {
      font-family: $titleFontFamily;
      font-size: $defaultTitleFontSize;
    }
  }

  img {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0 $imageBorderRadius;
  }
}