@import 'variables.scss';

.services {
  .services-content {
    &:after { // needed for float clearfix
      display: block;
      content: " ";
      clear: both;
    }

    img {
      border-radius: 0 $imageBorderRadius 0 0;
      width: 39vw;
      z-index: -1;
      float: left;
    }

    .info {
      display: inline-block;
      width: 40vw;

      .info-content {
        padding-left: 3vw;

        h2 {
          font-family: $titleFontFamily;
          font-size: $defaultTitleFontSize;
        }

        .intro {
          color: $defaultFontColour;
          font-size: 2vw;
          font-weight: 400;
          text-align: left;
        }

        .services-row {
          clear: both;

          .service {
            display: inline-block;
            width: 50%;

            &.left {
              float: left;

              .service-content {
                padding-right: 1.5vw;
              }
            }

            &.right {
              float: right;

              .service-content {
                padding-left: 1.5vw;
              }
            }

            .title {
              font-size: 1.4vw;
            }

            .description {
              color: #697684;
              font-size: 1.2vw;
              line-height: 2vw;
            }
          }
        }
      }
    }
  }
}