@import 'variables.scss';

.thanks-for-stopping-by {
  width: 100%;
  margin: 0 $gutterSize;

  h3 {
    font-family: $titleFontFamily;
    font-size: 1.8vw;
  }

  p {
    color: #697684;
    font-size: 1.2vw;
  }
}