@import 'variables.scss';

.header {
  height: 5%;

  .logo {
    display: inline-block;
    height: 100%;
    width: 40%;
    font-family: $titleFontFamily;
    color: $defaultTitleColour;
    font-size: 2vw;
    font-weight: 600;

    .logo-content {
      padding: 15% 0 15%;
      margin-left: 10vw;
    }
  }

  .nav {
    display: inline-block;
    height: 100%;
    width: 60%;
    color: #000;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: right;
    .nav-content {
      margin-right: 10vw;
      a {
        margin: 0 2%;
        text-decoration: none;
      }
    }
  }
}