@import 'variables.scss';

.get-in-touch {
  margin-top: $verticalPageSectionSeparation;

  img {
    border-radius: 0 $imageBorderRadius 0 0;
    width: 39vw;
    z-index: -1;
    float: left;
  }

  .content{
    display: inline-block;
    width: 40vw;
    height: 51vw;
    padding-left: 3vw;

    h2 {
      font-family: $titleFontFamily;
      font-size: $defaultTitleFontSize;
    }

    p {
      color: #1D1B2E;
      font-size: 1.8vw;
      font-weight: 400;
      line-height: 3vw;
      text-align: left;
    }

    email {
      font-size: 2vw;
    }
  }
}