.app {
  position: relative;

  .oval {
    background-color: #15D0C5;
    border-radius: 100%;
    opacity: 0.1000000014901161;
    width: 116vw;
    height: 119vw;
    position: absolute;
    top: 4%;
    right: -60vw;
    z-index: -2;
  }

  .clear-fix {
    &:after { // needed for float clear fix
      display: block;
      content: " ";
      clear: both;
    }
  }
}