<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" >
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id='true-root'>
    <div id='root'></div>
</div>
</body>
</html>
