// FONT FAMILY
$defaultFontFamily: Roboto, sans-serif;
$titleFontFamily: 'youngserifregular', serif;

// TITLE
$defaultTitleColour: #1D1B2E;
$defaultTitleFontSize: 3vw;
$mainTitleColour: #15D0C5;

// FONT COLOUR
$defaultFontColour: #1D1B2E;

// PAGE
$gutterSize: 17vw;
$verticalPageSectionSeparation: 10vw;

// IMAGE
$imageBorderRadius: 3vw;